# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Gemfile Unlock'
      'submenu': [
        {
          'label': 'Unpack'
          'command': 'atom-gemfile-unlock:unpack'
        }
      ]
    ]
  }
]
